*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background-color: #2874f0;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 80px;
}

.logo img{
    width: 100%;
}

.explore{
    width: 80px;
}

.explore img{
    width: 30px;
    
}